<section class="subheader">
  <div class="subheader-filter">
    <button class="subheader-filter-option">All</button>
    <button class="subheader-filter-option">New</button>
    <button class="subheader-filter-option">Tier 1</button>
    <button class="subheader-filter-option">Tier 2</button>
    <button class="subheader-filter-option">Tier 3</button>
  </div>
  <div class="subheader-quarq">
    <img class="subheader-quarq-image" src="../../assets/quarq-logo.png" alt="quarq">
    <button class="subheader-quarq-option">Introdaction/Overview (EN-06.1)</button>
    <button class="subheader-quarq-option">PowerMeters (EN-06.2)</button>
  </div>
  <div class="subheader-info">
    <div class="subheader-info--item">
      <span class="main-text">Quarq ShockWiz: An Automated Suspension Tuning Device</span>
      <div class="indicators">
        <span class="indicators--item">1</span>
        <span class="indicators--item good">1</span><!--  "good" for green bg, "bad" for red bg -->
        <span class="indicators--item bad">1</span>
      </div>
      <span class="sub-text">Introduction and overview of the Quarq ShockWiz.</span>
    </div>
    <div class="subheader-info--item">
      <span class="main-text">Quarq ShockWiz: An Automated Suspension Tuning Device</span>
      <div class="indicators">
        <span class="indicators--item">1</span>
        <span class="indicators--item good">1</span><!--  "good" for green bg, "bad" for red bg -->
        <span class="indicators--item bad">1</span>
      </div>
      <span class="sub-text">Introduction and overview of the Quarq ShockWiz.</span>
    </div>
    <div class="subheader-info--item">
      <span class="main-text">Quarq ShockWiz: An Automated Suspension Tuning Device</span>
      <div class="indicators">
        <span class="indicators--item">1</span>
        <span class="indicators--item good">1</span><!--  "good" for green bg, "bad" for red bg -->
        <span class="indicators--item bad">1</span>
      </div>
      <span class="sub-text">Introduction and overview of the Quarq ShockWiz.</span>
    </div>
    <div class="subheader-info--item">
      <span class="main-text">Quarq ShockWiz: An Automated Suspension Tuning Device</span>
      <div class="indicators">
        <span class="indicators--item">1</span>
        <span class="indicators--item good">1</span><!--  "good" for green bg, "bad" for red bg -->
        <span class="indicators--item bad">1</span>
      </div>
      <span class="sub-text">Introduction and overview of the Quarq ShockWiz.</span>
    </div>
    <div class="subheader-info--item">
      <span class="main-text">Quarq ShockWiz: An Automated Suspension Tuning Device</span>
      <div class="indicators">
        <span class="indicators--item">1</span>
        <span class="indicators--item good">1</span><!--  "good" for green bg, "bad" for red bg -->
        <span class="indicators--item bad">1</span>
      </div>
      <span class="sub-text">Introduction and overview of the Quarq ShockWiz.</span>
    </div>
  </div>
</section>
