<header class="header">
  <div class="header-logo">
    <img src="../../assets/logo.png" alt="logo">
  </div>
  <div class="news-container">
    <span class="header-news">Latest news:</span>
    <span class="header-news--text">Welcome to STU Online</span>
  </div>
  <div class="header-profile">
    <a class="header-profile--link" href="">News</a>
    <a class="header-profile--link" href="">Rewards</a>
    <div class="avatar">
      <img class="avatar-image" src="../../assets/avatar-fake.png" alt="avatar">
    </div>
  </div>
</header>
